{% extends 'base.html' %}

{% block navbar %}

<h1>This is order detail page</h1>

<h1>destination: {{ object.destination }}</h1>
<p>arrival time: {{ object.arrival_time }}</p>
<p>Total Passenger: {{ object.total_passenger }}</p>
<p>Share: {{ object.can_share }}</p>
<p>Trip status: {{ object.get_trip_status_display}}</p>

<a href="{% url 'driver:driver-main' user.id %}">Back to driver home page</a>

&emsp; <button type="submit" onclick="location.href='{% url 'driver:driver-main' user.id %}'">Back</button>

{% endblock%}