{% extends 'base.html' %}

{% block navbar %}
{% csrf_token %}

<h1>Welcome！This is home page </h1>

{% if user.is_authenticated %}
{% if profile.is_driver %}
<a href="{% url 'driver:driver-main' user.id %}">Your Driver Home</a>
{% else %}
<a href="{% url 'driver:driver-update' user.id %}">Want to register as a driver?</a>
{% endif%}


<br>
<a href="{% url 'order:order-create' %}">Make a Riding Request</a>
<br>
<a href="jointrip">Join another trip</a>
<br>



<h3>Your ongoing order</h3>
{% for order in orders_open %}
  <p>{{ order.id }} - <a href="{% url 'usr:usr-order-detail' order.id%}"> {{ order.destination}} </a></p>
{% endfor %}

{% for order in orders_comfirme %}
  <p>{{ order.id }} - <a href="{% url 'usr:usr-order-detail' order.id%}"> {{ order.destination}} </a></p>
{% endfor %}

{% endif%}
{% endblock%}